form.signup,
form.login {
  margin-top: 50px;
  color: darkorchid;
}
h2 {
  font-weight: bold;
  color: darkorchid;
  text-decoration: underline;

}
.container {
 background-color: lightgray;
 width: 600px;
 border: groove;
 

}