header {
    background: purple;
    color: #fff;
    padding: 2px 2%;
    height: 10px;
    text-align: center;
  }
  span {
    margin-left: 200px;
  }
 nav_link {
   color: black;
   margin-left: 200px;
 } 